doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles.css")
    title Our Services
  body
    nav
      a(href="homepage.pug") 
      a(href="our sevices.pug") 
      a(href="contact us.pug") 
    h1 Explore Our Services
    

